body {
    background-image: url(../images/veg.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.card {
    width: 30%;
    float: left;
    margin-right: 5%;
}

#form-div {
    opacity: 0.9;
}

.recipe-name {
    opacity: 0.8;
}