body {
    background-image: url(../images/veg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 


#form-div {
    opacity: 0.9;
}

.recipe-name {
    opacity: 0.8;
}

.login-form {
    background-color: white;
    opacity: 0.8;
}

#one-recipe-display {
    background-color: rgba(255, 255, 255, 0.81);
}

.no-results {
    opacity: 0.8;
}

#step-div {
    display: none;
} 

#ingredient-div {
    display: none;
} 

select {
    font-family: 'FontAwesome', 'Second Font name'
  }

.home-description {
    font-size: 1.2rem;
}
.description {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(../images/smallveg.png);
    }
    h3 {
        font-size: 2rem;
    }
    #brand-logo {
        font-size: 1.5rem;
    }
}