body {
    background-image: url(../images/veg.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

#form-div {
    opacity: 0.9;
}

.recipe-name {
    opacity: 0.8;
}

.login-form {
    background-color: white;
    opacity: 0.8;
}

.card-panel {
    opacity: 0.8;
}

.no-results {
    opacity: 0.8;
}