{% extends "base.html" %}
{% block content %}
<div class="card-panel center-align">
    <h3>
        Edit Recipe
    </h3>
</div>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit', recipe_id=recipe._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_name" type="text" class="validate" name="recipe_name" value="{{ recipe.recipe_name }}">
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <!-- change to textarea -->
                <input id="description" type="text" class="validate" name="description" value="{{ recipe.description }}">
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="ingredients" type="text" class="validate" name="ingredients" value="{{ recipe.ingredients }}">
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="instructions" type="text" class="validate" name="instructions" value="{{ recipe.instructions }}">
                <label for="instructions">Instructions</label>
            </div>
        </div>
        <div class="input-field col s12 m6">
            <select class="icons">
                <option value="" data-icon="">Drink</option>
                <option value="">Meal</option>
                <option value="">Dessert</option>
            </select>
            <label>Images in select</label>
        </div>
        <div class="input-field col s12 m6">
            <select class="icons">
                <!-- create function to select previously selected categories -->
                <option value="" data-icon="images/sample-1.jpg" class="left">Meat Dish</option>
                <option value="" data-icon="images/office.jpg" class="left">Vegetarian</option>
                <option value="" data-icon="images/yuna.jpg" class="left">Vegan</option>
            </select>
            <label>Images in select</label>
        </div>
        <!-- add cencel button with a href to go back to the page where you can choose to edit -->
        <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="submit_recipe">Edit Recipe
                <i class="material-icons right">send</i>
              </button>
        </div>
    </form>
</div>

{% endblock %}