{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="card-panel center-align red darken-3 white-text col s10 offset-s1">
        <h3>
            Edit Recipe
        </h3>
    </div>
</div>

<div class="row">
    <div class="col l10 offset-l1 card-panel" id="form-div"><br>
        <form class="col s10 offset-s1" method="POST" action="{{ url_for('edit', recipe_id=recipe._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" type="text" class="validate" name="recipe_name" maxlength="20" value="{{ recipe.recipe_name }}">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" class="validate" name="description" maxlength="150" value="{{ recipe.description }}">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m9" id="ingredient-div">
                    <textarea id="textarea1" class="materialize-textarea" name="ingredients"></textarea>
                    <label for="textarea1">Ingredient</label>
                </div>
                {% for ingredient in recipe.ingredients %}
                <div class="input-field col m9 s12">
                    <textarea id="textarea1" class="materialize-textarea" name="ingredients">{{ ingredient }}</textarea>
                    <label for="textarea1">Ingredient</label>
                </div>
                {% endfor %}
                <div id="create-ingredient">

                </div>
                <div class="col s1">
                    <a class="waves-effect waves-light btn blue btn-small add-ingredient">
                        <i class="material-icons left">add_circle_outline</i>
                    </a>
                    <a class="waves-effect waves-light btn red darken-1 btn-small remove-ingredient">
                        <i class="material-icons left">cancel</i>
                    </a>
                </div>
            </div>
            <div class="row center-align">
                <div class="input-field col s12" id="step-div">
                    <textarea id="textarea1" class="materialize-textarea" name="instructions"></textarea>
                    <label for="textarea1" class="instructions-label">Add Step</label>
                </div>
                {% for instruction in recipe.instructions %}
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="instructions">{{ instruction }}</textarea>
                        <label for="textarea1" class="instructions-label">Add Step</label>
                    </div>
                {% endfor %}
                <div id="create-step">

                </div>
                <div class="col offset-s0.2">
                    <a class="waves-effect waves-light btn blue btn-small add-step">
                        <i class="material-icons right">add_circle_outline</i>Add Step
                    </a>
                    <a class="waves-effect waves-light btn red darken-1 btn-small remove-step">
                        <i class="material-icons right">cancel</i>Remove Step
                    </a>
                </div>
            </div>
            <div class="input-field col s12 m6">
                <select class="icons" name="category_name_1" id=""category_name_1>
                    <option value="{{ recipe.category_name_1 }}" disabled selected>Type of Recipe</option>
                    <option value="drink">
                        &#xf804; Drink
                    </option>
                    <option value="meal">
                        &#xe559; Meal
                    </option>
                    <option value="dessert" >
                        &#xe402 Dessert
                    </option>
                </select>
                <label>Images in select</label>
            </div>
            <div class="input-field col s12 m6">
                <select class="icons" name="category_name_2" is="category_name_2">
                    <option value="{{ recipe.category_name_2 }}" disabled selected>Suitable for...</option>
                    <option value="meat" class="left">
                        &#xf6d7 Meat Dish
                    </option>
                    <option value="vegetarian" class="left">
                        &#xf81e Vegetarian
                    </option>
                    <option value="vegan" class="left">
                        &#xf06c Vegan
                    </option>
                </select>
                <label>Images in select</label>
            </div>
            <div class="input-field col s12">
                <input id="img_url" type="url" name="img_url" value="{{ recipe.img_url }}">
                <label for="img_url">Add image link here</label>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect waves-light blue" type="submit" name="submit_recipe">Edit Recipe
                    <i class="material-icons right">send</i>
                </button>
                <a class="btn waves-effect waves-light red" href="{{ url_for('profile', user=session['current_user']) }}">
                    Cancel
                    <i class="material-icons right">stop</i>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}