{% extends "base.html" %}
{% block content %}
    <div class="card-panel">
        <h3>
            Delicious Recipes
        </h3>
        <h5>
            Why not try {{ todays_recipe.recipe_name.title() }} this {{ day }}
        </h5>
    </div>
    <div class="row">
        <div class="card large col s12 m6 offset-m3" id="home-page-recipe">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ todays_recipe.img_url }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ todays_recipe.recipe_name.title() }}
                    <i class="material-icons right">more_vert</i>
                </span>
                <span class="card-title activator grey-text text-darken-4">
                    {{ todays_recipe.description }}
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ todays_recipe.recipe_name.title() }}<i class="material-icons right">close</i></span>
                <p>{{ todays_recipe.ingredients }}</p>
                <p>{{ todays_recipe.instructions }}</p>
            </div>
            <div clas="center-align">
                <p>
                    By: {{ todays_recipe.added_by }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}