{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="card-panel center-align red darken-3 white-text col s10 offset-s1">
        <h3>
            Delicious Recipes
        </h3>
    </div>
</div>
<div class="row center-align">
    <form class="col s12" action="{{ url_for('search') }}" method="POST">
        <div class="row">
            <div class="input-field col s10 m6 offset-s1 offset-m3">
                <input id="search" type="text" class="validate" name="search" required>
                <label for="search">Search Recipes</label>
                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Search
                    <i class="material-icons left">search</i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row s12 m6 offset-m3 center-align">
    <h5>
        Why not try {{ todays_recipe.recipe_name.title() }} this {{ day }}
    </h5>
</div>
<div class="row">
    <div class="card large col s12 m8 offset-m2 l6 offset-l3" id="home-page-recipe">
        <div class="card-image waves-effect waves-block waves-light">
            <a href="{{ url_for('one_recipe', recipe_id=todays_recipe._id)}}">
                <img class="activator" src="{{ todays_recipe.img_url }}">
            </a>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                {{ todays_recipe.recipe_name.title() }}
                <i class="material-icons right">more_vert</i>
            </span>
            <span class="card-title activator grey-text text-darken-4">
                <p class="home-description truncate">
                    {{ todays_recipe.description }}
                </p>
                <p class="home-description"> (
                    {% if todays_recipe.category_name_2 == "meat" %}
                    Meat <i class="fa-solid fa-meat"></i>
                    {% elif todays_recipe.category_name_2 == "vegetarian" %}
                    Vegetarian<i class="fa-solid fa-salad"></i>
                    {% elif todays_recipe.category_name_2 == vegan %}
                    Vegan <i class="fa-solid fa-leaf"></i>
                    {% else %}
                    Yummy
                    {% endif %}
                    {% if todays_recipe.category_name_1 == "drink" %}
                    Drink <i class="fa-solid fa-glass"></i>
                    {% elif todays_recipe.category_name_1 == "meal" %}
                    Meal <i class="fa-solid fa-plate-utensils"></i>
                    {% elif todays_recipe.category_name_1 == dessert %}
                    Dessert <i class="fa-solid fa-cupcake"></i>
                    {% else %}
                    food
                    {% endif %}
                    )
                </p>
            </span>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ todays_recipe.recipe_name.title() }}<i
                    class="material-icons right">close</i>
                <p class="description">
                    {{ todays_recipe.description }}
                </p>
            </span>
            <h6>
                Ingredients
            </h6>
            {% for ingredient in todays_recipe.ingredients %}
                <p>{{ ingredient }}</p>
            {% endfor %}
            <h6>
                Instructions
            </h6>
            {% for instruction in todays_recipe.instructions %}
                <p>{{ instruction }}</p>
            {% endfor %}
            <p>
                <a href="{{ url_for('one_recipe', recipe_id=todays_recipe._id)}}">
                    View More...
                </a>
            </p>
        </div>
        <div clas="center-align">
            <p>
                By: {{ todays_recipe.added_by }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
