{% extends "base.html" %}
{% block content %}
<!-- use url_for('edit', recipe_id=recipe._id) -->
<div class="row">
    <div class="card-panel center-align red darken-3 white-text col l10 offset-l1">
        <h3>
            {{ user.title() }}'s Profile
        </h3>
    </div>
</div>
<div class="row center-align">
    <form class="col s12" action="{{ url_for('profile', user=session['current_user']) }}" method="POST">
        <div class="row">
            <div class="input-field col s10 m6 offset-s1 offset-m3">
                <input id="search" type="text" class="validate" name="search" required>
                <label for="search">Search Recipes</label>
                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Search My Recipes
                    <i class="material-icons left">search</i>
                </button>
            </div>
        </div>
    </form>
</div>

    {% for recipe in recipes %}
        {% if recipe.added_by == user %}
        <div class="row">
            <div class="col cards-container s12 m6 l4">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{ url_for('one_recipe', recipe_id=recipe._id)}}">
                            <img class="activator" src="{{ recipe.img_url }}">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            {{ recipe.recipe_name.title() }}
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p id="recipe-description" class="truncate">
                            {{ recipe.description }}
                        </p> 
                        <span>
                            <p>
                                <a class="waves-effect waves-light btn" href="{{ url_for('edit', recipe_id=recipe._id) }}">Edit</a>
                            </p>
                            <p>
                                <a class="waves-effect waves-light btn red" href="{{ url_for('delete', recipe_id=recipe._id) }}">Delete</a>
                            </p>
                        </span>
                        <div>
                            <p>
                                Recipe added by: {{ recipe.added_by }}
                            </p>
                        </div>
        
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name.title() }}<i
                                class="material-icons right">close</i></span>
                        <p>{{ recipe.ingredients }}</p>
                        <p>{{ recipe.instructions }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}