{% extends "base.html" %}
{% block content %}
<!-- use url_for('edit', recipe_id=recipe._id) -->
<div class="card-panel">
    <h3>
        {{ user }}'s Profile
    </h3>
</div>
    {% for recipe in recipes %}
    {% if recipe.added_by == user %}
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ recipe.recipe_name.title() }}
                    <i class="material-icons right">more_vert</i>
                </span>
                <span class="card-title activator grey-text text-darken-4">
                    Description
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name.title() }}<i class="material-icons right">close</i></span>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.instructions }}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}

{% endblock %}