{% extends "base.html" %}
{% block content %}
    
        {% for recipe in recipes %}
        <div class="card medium col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/hdp-jambalaya-440-400-f14ba7f.jpg?quality=90&webp=true&resize=440,400">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ recipe.recipe_name.title() }}
                    <i class="material-icons right">more_vert</i>
                </span>
                <span class="card-title activator grey-text text-darken-4">
                    Description
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name.title() }}<i class="material-icons right">close</i></span>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.instructions }}</p>
            </div>
            <div clas="center-align">
                <p>
                    By: {{ recipe.added_by }}
                </p>
            </div>
            {% if session[user]|lower == recipe.added_by|lower %}
                <a class="waves-effect waves-light btn" href="{{ url_for('edit', recipe_id=recipe._id) }}">Edit</a>
                <a class="waves-effect waves-light btn" href="{{ url_for('delete', recipe_id=recipe._id) }}">Edit</a>
            {% endif %}
        </div>

        {% endfor %}

{% endblock %}