{% extends "base.html" %}
{% block content %}
<div class="card-panel">
    <h3>
        All Recipes
    </h3>
</div>
        {% for recipe in recipes %}
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ recipe.img_url }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ recipe.recipe_name.title() }}
                    <i class="material-icons right">more_vert</i>
                </span>
                <!-- <span class="card-title activator grey-text text-darken-4"> -->
                    <p id="recipe-description">
                        {{ recipe.description }}
                    </p>
                <!-- </span> -->

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name.title() }}<i class="material-icons right">close</i></span>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.instructions }}</p>
            </div>
            <div clas="center-align">
                <p>
                    By: {{ recipe.added_by }}
                </p>
            </div>
            {% if session[user]|lower == recipe.added_by|lower %}
                <a class="waves-effect waves-light btn" href="{{ url_for('edit', recipe_id=recipe._id) }}">Edit</a>
                <a class="waves-effect waves-light btn" href="{{ url_for('delete', recipe_id=recipe._id) }}">Edit</a>
            {% endif %}
        </div>

        {% endfor %}

{% endblock %}